html, body{
    margin:0;
    text-align:center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header{
    background-color: teal;
    color: white;
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 10;
    
}

#logo{
    position: absolute;
    padding-top: 0.3%;
    padding-left: 1%;
}

#logo img{
    width: 70px;
    
}
#menu{
    float: right;
    margin-right: 5%;
    list-style: none;
    
}

li{
    float: left;
    padding: 5px 10px 5px 10px 
}

li:hover{
    background-color: black;
    border: 2px black;
    font-weight: 200;
}


#imagem_fundo{
    background-image: url(img/fundo\ 2\ sars.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    padding: 10px;
    text-align: center;
}
 
#titulo{ 
    color: forestgreen;
    padding-top: 17%;
    margin: 0;
    font-size: 450%;
    text-shadow:2px 2px 4px black;
}

#subtitulo{
    color: white;
    font-size: 200%;
    font-weight: 100;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 5%;
    padding-top: 28px;
    text-shadow:4px 4px 6px black;
}

#acao{
    color: white;
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
    font-size: 20px;
    text-decoration: none;
    background-color: #000000;
   
}

/*.imagemid{
    width: 35%;
}*/

.icone{
    width: 51px;
}

.icone_contato{
    padding: 0 5px;
    width: 40px;
}
  
section{
    padding: 20px;
    float: left;
    text-align: center;
}

/*#diagnostico{
    background-color: lightblue;
}*/

.destaque{
    background-color: #82c9d93d;
}

/*#videos{
    background-color: lightsteelblue;
}*/

.coluna{
    float: left;
    padding: 0 5%;
    position: relative;    
}

.dois{
    width: 40%;
}

.dois_dados{
    padding: 0 0;
    width: 50%;
}

.tres{
    width: 29%;
    padding: 0 2%;
}

.quatro{
    width: 15%;
}

.imgcovid{
    width: 100%;
}

.imgprojeto{
    width: 100%;
}

.imgdiagnostico{
    width: 70%;

}

.imgperguntas{
    width: 80%;
}

.imgdados{
    height: 100%;
}

.topocovid{
    padding-top: 3%;
}

.topoprojeto{
    padding-top: 8%;
}

.topodiagnostico{
    padding-top: 10%;
}

#sobre img{
    width: 50%;
    padding: 10px;
}


footer{
    background-color: teal;
    float: left;
    color: white;
    width: 100%;
    text-align: center;
    
}

/*#imgfooter{
    width: 50%
}*/

a{
    text-decoration: none;
    color: white;
}

@media all and (max-width: 768px){
    #menu{
        visibility: hidden;
    }

    .coluna, .dois, .tres, .quatro{
        display: block;
        width: 80%;
        padding: 0;
        margin: 10px auto;
        float: none;
    }

    .dois_dados{
        display: block;
        width: 80%;
        padding: 0;
        margin: 10px auto;
        float: none;
    }
    .imgdados{
        height: inherit;
        width: inherit;
    }

    #titulo{
        padding-top: 50%;
    }
    #logo{
        padding: 0;
        position: relative;
    }
}